{
  :shovel-consumer {
    :topic                "shovel-test-0"
    :counter-reset        100
    :main-loop-timeout    10000
  } 

  :shovel-producer {
    :topic                "shovel-test-0"
    :num-of-messages      1000000
    :counter-reset        10000
    :main-loop-timeout    10000
    :num-of-threads       16
  }

  :consumer-config {  
    :group.id                         "shovel-test-0"
    :session.timeout.ms               "6000"
    :heartbeat.frequency              "1"
    :bootstrap.servers                "localhost:9092"
    :enable.auto.commit               "true"
    :partition.assignment.strategy    "roundrobin"
    :auto.commit.interval.ms          "50"
    :auto.offset.reset                "smallest"
    :fetch.min.bytes                  "4"
    :fetch.max.wait.ms                "100"
    :metadata.fetch.timeout.ms        "150"
    :total.memory.bytes               "100000000"   ; 100MB
    :fetch.buffer.bytes               "10000000"    ; 10MB
    :client.id                        "shovel-test"
    :socket.receive.buffer.bytes      "64000"       ; 64KB
    :reconnect.backoff.ms             "1000"
    ;:metrics.sample.window.ms         "60000"
    ;:metrics.num.samples              "15"
    ;:metric.reporters                 ""
    :key.deserializer                 "org.apache.kafka.common.serialization.ByteArrayDeserializer"
    :value.deserializer               "org.apache.kafka.common.serialization.ByteArrayDeserializer"
  }

  :producer-config {  
    :bootstrap.servers                      "127.0.0.1:9092"
    :metadata.fetch.timeout.ms              "1000"
    :metadata.max.age.ms                    "100000"
    :batch.size                             "256"
    :buffer.memory                          "1024000" ; 1000 * 1024
    :acks                                   "1"
    :timeout.ms                             "250"
    :linger.ms                              "0"
    :client.id                              "shovel-test-client"
    :send.buffer.bytes                      "102400" ; 100 * 1024
    :receive.buffer.bytes                   "102400" ; 100 * 1024
    :max.request.size                       "5000000"
    :reconnect.backoff.ms                   "100"
    :block.on.buffer.full                   "true"
    :retries                                "3"
    :retry.backoff.ms                       "100"
    :compression.type                       "snappy"
    :metrics.sample.window.ms               "60000"
    :metrics.num.samples                    "15"
    :metric.reporters                       ""
    ;:max.in.flight.requests.per.connection  "1024"
    :key.serializer                         "org.apache.kafka.common.serialization.ByteArraySerializer"
    :value.serializer                       "org.apache.kafka.common.serialization.ByteArraySerializer"
  }

};end
