{
  :shovel-consumer {
    :topic                "shovel-test-0"
    :counter-reset        100
    :main-loop-timeout    10000
  } 

  :shovel-producer {
    :topic                "shovel-test-0"
    :num-of-messages      1000
    :counter-reset        100
    :main-loop-timeout    10000
  }

  :consumer-config {  
    :group.id                         "shovel-test-0"
    :session.timeout.ms               "6000"
    :heartbeat.frequency              "1"
    :bootstrap.servers                "localhost:9092"
    :enable.auto.commit               "true"
    :partition.assignment.strategy    "roundrobin"
    :auto.commit.interval.ms          "50"
    :auto.offset.reset                "smallest"
    :fetch.min.bytes                  "4"
    :fetch.max.wait.ms                "100"
    :metadata.fetch.timeout.ms        "150"
    :total.memory.bytes               "100000000"   ; 100MB
    :fetch.buffer.bytes               "10000000"    ; 10MB
    :client.id                        "shovel-test"
    :socket.receive.buffer.bytes      "64000"       ; 64KB
    :reconnect.backoff.ms             "1000"
    :metrics.sample.window.ms         "60000"
    :metrics.num.samples              "15"
    ;:metric.reporters                 ""
    :key.deserializer                 "org.apache.kafka.common.serialization.ByteArrayDeserializer"
    :value.deserializer               "org.apache.kafka.common.serialization.ByteArrayDeserializer"
  }

  :producer-config {  
    :metadata.broker.list           "127.0.0.1:9092"
    :serializer.class               "kafka.serializer.StringEncoder"
    :request.required.acks          "1"
  }

};end
